/* Кнопка "Создать" */
.add-button {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 4px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4px;
    -fx-padding: 3px 6px 3px 6px;
    -fx-cursor: hand;
}

/* Кнопка "Создать" - поведение при наведении */
.add-button:hover {
    -fx-background-color: #e0e0e0;
}


/* Главный виджет */
.main-widget {
    -fx-background-color: #008fbf;
}

/* Контейнер кнопок навигации */
.nav-button-group {
    -fx-background-color: transparent;
}

/* Кнопки навигации */
.nav-btn-left, .nav-btn-right {
    -fx-background-color: #f5f5f5;
    -fx-border-width: 1px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-cursor: hand;
}

/* Кнопки навигации - поведение при наведении */
.nav-btn-left:hover .nav-btn-right:hover {
    -fx-background-color: #e0e0e0;
}

/* Кнопка "Назад" */
.nav-btn-left {
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-border-radius: 4px 0px 0px 4px;
    -fx-border-color: #cccccc transparent #cccccc #cccccc
}

/* Кнопка "Вперёд" */
.nav-btn-right {
    -fx-background-radius: 0px 4px 4px 0px;
    -fx-border-radius: 0px 4px 4px 0px;
    -fx-border-color: #cccccc #cccccc #cccccc #cccccc
}

.search-field {
    -fx-prompt-text-fill: #777777;
    -fx-padding: 4px 30px 4px 7px;
}

.search-field:focused {
    -fx-prompt-text-fill: #666666;
}

.clear-field-button {
    -fx-background-color: transparent;
    -fx-padding: 0px 10px 0px 0px;
    -fx-font-size: 11px;
    -fx-text-fill: #999999;
    -fx-cursor: hand;
}

.clear-field-button:hover {
    -fx-text-fill: #333333;
}